.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .view-reports-button,
  .understand-reports-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a0a0a;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .sitemap {
    text-align: center;
    margin-top: 20px;
  }
  .features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    gap: 20px;
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    margin: 20px auto; /* Centers the list with margin */
    max-width: 600px; /* Limits the width of the list */
  }
  
  .features-list li {
    font-size: 16px; 
    margin: 0; 
  }
  