#dashBox {
    display: flex;
    width: 80vw;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 80vh;
    z-index: 1; /* Remove negative z-index to ensure it's visible */
}

.card {
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 6px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 6px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 6px 2px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    -webkit-box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.4);
  }


#graphBox {
    display: flex;
    // border: 2px rgba(0, 0, 0, 0.251) solid;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
    height: 95%;
    border-radius: 20px;
    width: 90%;
    align-items: center; 
    border-radius: 10px;
}

#graphBox1, #graphBox2 {

    width: 25vw;
    height: 60vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
    color: white;
}

#graphBox1 {
    padding: 20px;

    font-size: 20px;
}

#graphBox2 {
    padding: 20px;

    font-size: 20px;
}

#graph1, #graph2 {
    background-color: rgb(255, 255, 255);
    height: 50vh; /* Responsive height */
    border: 2px rgba(0, 0, 0, 0.251) solid;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex; /* Flex for centering */
    justify-content: center;
    border-radius: 20px;
}



/* Text Styling */
#title {
    font-family: 'Arial', sans-serif;
    color: black;
    font-size: 20px; /* Responsive font size */
    font-weight: bold;
    margin-top: 2vh;
    
}

.txt {
    
    padding: 5px;
    border-radius: 5px;
    color: black;
}
